{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TripHub</title>
    <link href="{% static 'css/bootstrap-4.0.0.css' %}" rel="stylesheet">
</head>

<body class="bg text-info" style="background-color: #A0F4F4">
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
        <img class="mr-3" src="{% static 'images/logo.jpg' %}" style="height: 100px">
        <h1 class="navbar-brand" href="#">TripHub</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0">
                <a href="{% url 'login' %}" class="btn btn-info" style="background-color: #A0F4F4">Logout</a>
            </form>

        </div>
    </div>
</nav>
    <div class="container">
        <br>
        <div class="col-lg-12">
            <h2 class="text-center"><span class="badge-lg badge-info badge-pill">Profile</span>&nbsp;</h2>
            <br>
        </div>
        <h5>Username: <a id="lastName">{{ user.username }}</a></h5>
        <h5>First name: <a id="firstName">{{ user.profile.first_name }}</a></h5>
        <h5>Last name: <a id="lastName">{{user.profile.second_name}}</a></h5>
        <h5>Facebook: <a id="facebook_link" href="{{ user.profile.facebook }}"><a id="name">@name@</a></a>
        </h5>
        <h5>Date of birth: <a id="age">{{ user.profile.date_of_birth }}</a></h5>
        <h5>Gender: <a id="gender">{{ user.profile.gender }}</a></h5>
        <br>
        <hr>
        <br>
        <div class="col-lg-12">
            <h2 class="text-center"><span class="badge-lg badge-info badge-pill">Trips</span>&nbsp;</h2>
            <br>
        </div>
        <div class="container text-white">
{#            {% for participation in user.participation %}#}
            <div class="card bg-info">
                <div class="card-header">
                    <h2><span class="badge badge-pill text-info" style="background-color: #A0F4F4">{{ participation.trip.name_tr}}</span></h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill text-info" style="background-color: #A0F4F4">{{ participation.trip.author.username }}</span></h5>
                    <p class="card-text">{{ participation.trip.description }}
                    </p>
                    <a href="#" class="btn badge-lg badge-info text-info badge-pill" style="background-color: #A0F4F4">Learn more</a>
                </div>

            </div>
            <hr>
{#            {% endfor %}#}
        </div>

    </div>
    <div class="col-lg-12"> <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    </div>
    </div>
    <div class="container-fluid text-white bg-info" style="width: 100%">
        <div class="col-lg-12">
            <address>
	<strong>Mohila products, inc.</strong><br>
	Ukraine 2021 <br>
	Develoved by: <span class="badge badge-pill" style="background-color: #A0F4F4">Yehor Podolskyi</span> <span class="badge badge-pill" style="background-color: #A0F4F4"> Pavlo Vilkhoviy</span> <span class="badge badge-pill" style="background-color: #A0F4F4">Daniel Demchyna</span><br>
	  Designed by:<span class="badge badge-pill" style="background-color: #A0F4F4"> Yehor Podolskyi</span>
  </address>
            <address>
	<strong>Contact us:</strong><br>
	<a href="mailto:yehor.podolsky@gmail.com">yehor.podolsky@gmail.com</a>
  </address>
        </div>
        <footer class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>Copyright © TripHub. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/validation_registration.js' %}"></script>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</body>

</html>